.article {
  &--2 {
    & .article-2__img {
      width: 100%;
      height: 100vh;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 1024px) {
  .article {
    &--2 {
      & .article-2__img {
        height: auto;

        & img {
          object-fit: unset;
        }

        &:first-of-type {
          height: calc(100vh - 123px);

          & img {
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .article--2 {
    position: relative;



    &::before,
    &::after {
      content: "";
      position: fixed;
      top: 50%;
      width: 46px;
      height: 15px;
      background-image: url(../images/arrow.svg);
      z-index: 9;
      display: none;
    }

    &::before {
      left: 10px;
      transform: translateY(-50%) rotate(90deg);
    }

    &::after {
      right: 10px;
      transform: translateY(-50%) rotate(-90deg);
    }

    &.scroll {

      &::before,
      &::after {
        display: block;
      }
    }


  }

  .article-2__wrap {
    overflow: scroll;
    width: 100%;
    position: relative;

    & img {
      height: calc(100vh - 123px);
      width: auto !important;
      object-fit: unset !important;
    }

    &:first-child {
      & img {
        width: 100% !important;
        object-fit: cover !important;
      }
    }


  }
}
