.left-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 336px;
  padding-top: 92px;
  position: relative;

  &--1 {
    background-image: url(../images/left-bg-1.jpg);
  }

  &--2 {
    background-image: url(../images/left-bg-2.jpg);

    &::before {
      content: "";
      background-color: rgba(0, 0, 0, .4);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    & a,
    & div {
      position: relative;
    }
  }

  &--3 {
    background-image: url(../images/left-bg-3.jpg);
  }

  &--4 {
    background-image: url(../images/left-bg-4.jpg);
  }

  &--5 {
    background-image: url(../images/left-bg-5.jpg);
  }

  &--6 {
    background-image: url(../images/left-bg-6.jpg);
    background-size: cover;
    background-position: right;
  }
}

.logo-title {
  font-family: $ffd;
  font-size: 25px;
  font-weight: 400;
  line-height: 77px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: none;
}

.menuToggle {
  overflow: hidden;
  // position: absolute;
  position: relative;
  width: 25px;
  height: 25px;
  z-index: 999;
  // display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  // margin-left: auto;
}

.menuToggle span {
  width: 25px;
  height: 5px;
  margin-bottom: 5px;
  background: #fff;
  border-radius: 4px;
  transition: all .5s cubic-bezier(.08, .81, .87, .71);
}

.menuToggle .span1 {
  transform-origin: 4px 0px;
}

.menuToggle .span3 {
  transform-origin: bottom right;
}

.menuToggle.open .span1 {
  background-color: #fff;
  transform: rotate(45deg) translate(5px);
}

.menuToggle.open .span2 {
  background-color: #fff;
  transform: rotate(495deg) translate(1px);
}

.menuToggle.open .span3 {
  background-color: #fff;
  transform: rotate(45deg);
  opacity: 0;
}

@media(max-width:1900px) {
  .left-block {
    width: 17.1875%;

    & .logo {
      max-width: 60%;
      display: block;

      & img {
        width: 100%;
      }
    }

    &--4 {
      padding-top: 30px;
    }
  }
}

@media (max-width: 1024px) {
  .menuToggle {
    display: flex;
    // position: absolute;
    align-self: flex-start;
  }

  .left-block {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 23px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 23px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-size: cover;
    z-index: 11;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    &--6 {
      background-position: center bottom;

      &::before {
        content: "";
        background-color: rgba(0, 0, 0, .4);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      & a,
      & div {
        position: relative;
      }
    }

    & .logo {
      width: 46px;

      & img {
        width: 100%;
      }
    }

    & .logo-title {
      display: block;
    }
  }
}
