.navigation {
  position: fixed;
  z-index: 9;
  right: 0;
  top: 0;

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 92px;
    // padding-right: 9.615385%;
    padding-right: 140px;
    display: flex;
  }

  & li {

    &.active,
    &.current-menu-item {
      & a {
        color: #191919;
        background-color: #fff;
      }
    }

    &:last-child {
      & a {
        text-align: left;
        padding-left: 2 0px;
      }
    }

    & a {
      font-family: $ffd;
      font-size: 14px;
      font-weight: 700;
      line-height: 15px;
      text-transform: uppercase;
      text-decoration: none;
      width: 131px;
      height: 57px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: #191919;
      color: #fff;
      border: 2px solid #fff;
      border-left: 0px solid #fff;
      transition: all .3s;
      padding-left: 20px;
      padding-right: 20px;

      &:hover {
        color: #191919;
        background-color: #fff;
      }
    }
  }
}

.header {
  &--3 {
    & li {

      &.active,
      &.current-menu-item {
        & a {
          color: #191919;
          background-color: #b0b9ab;
        }
      }

      & a:hover {
        color: #191919;
        background-color: #b0b9ab !important;
      }
    }
  }

  &--4 {
    & li {

      &.active,
      &.current-menu-item {
        & a {
          color: #fff;
          background-color: #807b61;
        }
      }

      & a:hover {
        color: #fff;
        background-color: #807b61 !important;
      }
    }
  }

  &--5 {
    & li {

      &.active,
      &.current-menu-item {
        & a {
          color: #fff;
          background-color: #323232;
        }
      }

      & a:hover {
        color: #fff;
        background-color: #323232 !important;
      }
    }
  }


}

.navigation__close {
  position: absolute;
  top: 15px;
  right: 15px;
  box-shadow: none;
  border: none;
  background: transparent;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 0;
  display: none;
  border: none;

  &::before,
  &::after {
    position: absolute;
    background-color: #fff;
    content: '';
    height: 4px;
    width: 100%;
    top: 50%;
    left: 50%;

    border-radius: 2px;
  }

  &::before {
    transform: translateX(-50%) rotate(45deg);
  }

  &::after {
    transform: translateX(-50%) rotate(-45deg);
  }
}

@media (min-height:1024px) {
  .header {
    &--6 {
      & .navigation.blur {
        & a {
          background-color: #191919;
        }

        & li.active,
        & li:hover,
        & li.current-menu-item {
          & a {
            background-color: #fff;
          }
        }
      }
    }
  }
}

@media (max-width: 1890px) {
  .header--5 {
    .navigation {
      & ul {
        padding-right: 20px;
        padding-top: 40px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .navigation {
    & ul {
      padding-right: 20px;
    }
  }
}

@media (min-width: 1024px) {
  .navigation {
    &.blur {
      width: calc(95% - 330px);
      background-color: rgba(25, 25, 25, .8);
      backdrop-filter: blur(5px);
      display: flex;
      justify-content: flex-end;

      & a {
        background-color: transparent;
      }
    }
  }
}

@media (max-width: 1024px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    padding: 79px 70px 40px 45px;
    background-color: #292929;
    overflow: auto;
    display: none;

    &.open {
      display: block;
    }

    & ul {
      margin: 0;
      padding: 0;
      flex-direction: column;
    }

    & li {
      &:last-child {
        & a {
          border-bottom: 2px solid #fff;
        }
      }

      & a {
        border-left: 2px solid #fff;
        width: 100%;
        background-color: transparent;
        border-bottom: none;
      }
    }
  }

  .navigation__close {
    display: flex;
  }

  .header {
    &--1 {
      & .navigation {
        background-color: #292929;

        & a {
          background-color: #292929;
        }
      }
    }

    &--3 {
      & .navigation {
        color: #292929;
        background-color: #b0b9ab;

        & li {
          & a {
            color: #292929;
            background-color: #b0b9ab;
            border-color: #191919 !important;
          }
        }

        & li.active,
        & li.current-menu-item,
        & li:hover {
          & a {
            background-color: #191919;
            color: #fff;
          }
        }
      }
    }

    &--4 {
      & .navigation {
        color: #191919;
        background-color: #807b61;

        & li {
          & a {
            color: #fff;
            background-color: #807b61;
          }
        }

        & li.active,
        & li:hover,
        & li.current-menu-item {
          & a {
            background-color: #292929;
            color: #fff;
            border-color: #191919;
            border-left-color: #fff;
            border-right-color: #fff;
          }

          &+li {
            & a {
              border-top-color: #191919;
            }
          }
        }
      }
    }

    &--5,
    &--6 {
      & .navigation {
        color: #fff;
        background-color: #292929;

        & li {
          & a {
            color: #fff;
            background-color: #292929;
          }
        }

        & li.active,
        & li:hover,
        & li.current-menu-item {
          & a {
            background-color: #fff;
            color: #191919;
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .navigation {
    padding: 114px 35px 40px 35px;

    & li {
      & a {
        border-top: none;
        border-bottom: 1px solid #fff;
      }

      &:last-child {
        a {
          text-align: center;
        }
      }

      &.active,
      &.current-menu-item {
        & a {
          margin-top: -1px;
          border-bottom: none;
        }
      }
    }
  }

  .header {}
}
